<div class="userListItem">
    <div class="userPhoto"></div>
    <div class="userDetailsDiv">
         <p>{firstname} {lastname}</p>
         <img src="assets/imgs/heart.png" class="smallImg"/> <span>Windows</span>
         <img src="assets/imgs/phone.png" class="smallImg"/> <span>{phonenumber}</span>
         <img src="assets/imgs/date.png" class="smallImg"/> <span>08:00AM</span> 
    </div>
   
</div>
<div class="clear:both;">
<img class="smallImg2" src="assets/imgs/pin.png"  />
<span class="userAdressDiv">some adress</span>
</div>


<div id="resultsWrapper">
    <div id="resultsUserDetails">
       <img id="userPhoto">
        
       </img> 
       <div id="userData">
           <p id="userName">Jane Doe</p>
           <p class="userDetailsP">Address</p>
       </div>
        
    </div>
    <div class="collapseDiv" >
        <div class="collapseHeader" id="chReferrals">
            <img src="assets/imgs/map/icon1.png" class="collapseIcon" />Referrals <img class="iconArrowLeft" src="assets/imgs/map/arrow_down.png"/></div>
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One</li>
                 <li>Two</li>
             </ul>
         </div>
    </div>
    <div class="collapseDiv" >
        <div class="collapseHeader" id="chCustomers">
         <img src="assets/imgs/map/icon2.png" class="collapseIcon" />Customers <img class="iconArrowLeft" src="assets/imgs/map/arrow_down.png"/></div>
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One me</li>
                 <li>Two me</li>
             </ul>
         </div>
    </div>
    <div class="collapseDiv" >
        <div class="collapseHeader" id="chConversion">
               <img src="assets/imgs/map/icon3.png" class="collapseIcon" />Conversion <img class="iconArrowLeft" src="assets/imgs/map/arrow_down.png"/></div>
  
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One me</li>
                 <li>Two me</li>
             </ul>
         </div>
    </div>
       <div class="collapseDiv" >
        <div class="collapseHeader" id="chRewards">
            <img src="assets/imgs/map/icon4.png" class="collapseIcon" />Rewards <img class="iconArrowLeft"src="assets/imgs/map/arrow_down.png" /></div>
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One me</li>
                 <li>Two me</li>
             </ul>
         </div>
    </div>
      <div class="collapseDiv" >
        <div class="collapseHeader" id="chPoints">
    <img src="assets/imgs/map/icon5.png" class="collapseIcon" />Points <img class="iconArrowLeft"src="assets/imgs/map/arrow_down.png" /></div>
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One me</li>
                 <li>Two me</li>
             </ul>
         </div>
    </div>
          <div class="collapseDiv" >
        <div class="collapseHeader" id="chEnergy">
    <img src="assets/imgs/map/icon6.png" class="collapseIcon" />Energy <img class="iconArrowLeft" src="assets/imgs/map/arrow_down.png"/></div>
        <hr />
         <div class="collapseContentDiv">
             <ul>
                 <li>One me</li>
                 <li>Two me</li>
             </ul>
         </div>
    </div>
</div>
