$base_color: #1E1E1E;
$page-bg-color :#bfbfbf;
$form-bg-color: rgba(0,0,0,0);
$neutral-color :rgba(1,0,0,1);
@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...
body{
   background:  url("../images/bg.jpg") no-repeat scroll center top #bfbfbf;
   background-size: 100% 100%;
}

 .x-panel, .x-form{
     background: none ;
 }

.x-button-normal{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c76b4), color-stop(48%,#1c5f94), color-stop(50%,#00417d), color-stop(99%,#012f6b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1c76b4 0%,#1c5f94 48%,#00417d 50%,#012f6b 99%); /* Chrome10+,Safari5.1+ */
    color:white;
    font-weight:lighter;
    border-color: rgba(27,112,169,0.56);
    border-bottom-color: #01316d;
    height:2.3em;  
    border-radius: 0.35em;
    -webkit-box-shadow:  0px 4px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 4px 3px 0px rgba(0, 0, 0, 0.5);
}

//options pressed
.x-button.x-button-pressed {
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#191a1c), color-stop(100%,#252629)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #191a1c 0%,#252629 100%); /* Chrome10+,Safari5.1+ */
     -webkit-box-shadow: inset 0px 4px 9px 1px rgba(0, 0, 0, 0.5);
        
        box-shadow: inset 0px 4px 9px 1px rgba(0, 0, 0, 0.5);
      border-color: #252629;
      border-bottom:solid #54545c 2px;
    }   
 
.x-button.x-button-pressing {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#134e75), color-stop(50%,#133d5f), color-stop(52%,#002a52), color-stop(100%,#011e45)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #134e75 0%,#133d5f 50%,#002a52 52%,#011e45 100%); /* Chrome10+,Safari5.1+ */
  
}
 
 
.gridBG{
  background:  url("../images/lines.png") no-repeat scroll center top;
 background-size: contain;
}


.x-toolbar-dark{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#141416)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2c2c2c 0%,#141416 100%); /* Chrome10+,Safari5.1+ */
    
  -webkit-box-shadow:  0px 4px 9px 1px rgba(0, 0, 0, 0.5);        
   box-shadow:  0px 4px 9px 1px rgba(0, 0, 0, 0.5);  
   border-top:solid 2px #363636;
   height: 3.3em !important;
   
}

.x-toolbar-dark img{
    margin:10px;
    
    height: 1.9em;
}

.x-toolbar-dark .x-button,  .x-button-back , .x-button-back, .x-button-back:after  {
   height: 1.9em !important;
   border:solie #1a1a1a 2px;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2c2c2c), color-stop(100%,#141416)) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2c2c2c 0%,#141416 100%) !important; /* Chrome10+,Safari5.1+ */
   //   border-top:solid 2px #363636;
}
 .x-button-back:after {
     height:2.2em;
 }
 
 .x-field-input{
 
     background-color:#1c1c1f;
     -webkit-box-shadow: inset 2px 4px 9px 2px rgba(0, 0, 0, 0.5);       
     box-shadow: inset 2px 4px 9px 2px rgba(0, 0, 0, 0.5);
     border-bottom: solid 1px #3f3f45;
     border-radius:5px;
     color: #f5f5f5;
 }
 .x-input-text{
       color: #f5f5f5;
 }
 .referraInput{
     margin:5px;
     padding:5px;
      color: #f5f5f5;
      background: none;
 }
 input::-webkit-input-placeholder {
    color: #8e8e8e;
   font-style: italic;
    }
.x-field-checkbox{
    background: none;
    width:120px;
}
.x-field-checkbox .x-form-label{
    background: none;
    color:#f7f7f7;
        margin-left:20px;
    padding-top:5px;
}
.x-field-checkbox .x-field-input{
    font-size:0.6em;

}

.x-label{
     color:#f7f7f7;
}

.whiteLabel{
     -webkit-text-fill-color: #f7f7f7 !important;
}

.x-field-select{
    background: none;
  
}
.testowa{
    color:red;
}
 
.userListItem, .x-list-normal{
    background: none;
      color:#f7f7f7;
} 

.smallImg{
 width: 14px;
height: auto;
clear: both;
float: left;
margin: 5px;
margin-top: 0px
}

.smallImg2{
    width: 22px;
    height: auto;
    margin: 5px;
margin-top: 2px
}

.userAdressDiv{
float: left;
color: #f7f7f7;
margin-left: 5px;
font-size: 12px;
}

.userPhoto{
    float:left;
width: 94px;
height: 94px;
    background-color: white;
    margin:4px;
    margin-bottom:6px;
}
.userDetailsDiv{
    float:left;
    clear:all;
}

.userDetailsDiv span{
    margin-left: 0px;
    float: left;
    font-size: 0.75em;
    margin-top: 0px;
}
 
.userDetailsDiv p{
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 1.2em; 
}
.x-list-normal .x-list-item .x-dock-horizontal{
    border-top: none;
border-bottom: solid 1px #37383c;
}

.collapseDiv{
    display:block;
clear: both;
    color:white;
    margin-left:5%;
    margin-right:5%;
}
.collapseHeader{
    display:block;
    font-size: 1.1em;
     margin-bottom: 1%;
}
.collapseHeader img{
  height: 1.5em;
padding-top: 0.6em;
padding-right: 0.7%;
}

.collapseDiv hr{
 
    border-top:solid 1px #151517;
     border-bottom:solid 1px #28292d;
     border-left:none;
      border-right:none;
 margin:0;
   padding: 0;
  
}


.collapseDiv{
    display:block;

}
.collapseContentDiv{
    display:block;
   background:  url("../images/pop.png") no-repeat scroll center top;
 background-size: 100% 100%;
margin-left: -5%;
margin-right: -5%;
margin-top: -0.1%;
padding-left: 5%;
padding-top: 1%;
padding-bottom: 1%;

}

.iconArrowLeft{
    float:right;
    height:1.1em;
}
#userPhoto{
    width: 98px;
    height: 98px;
   margin-right: 3%;
margin-bottom: 2%;
}
#userPhoto, #userData{
    float: left;
    color: #f7f7f7;
}

#userName{
    font-size: 1.4em;
    font-weight: bolder;
}

.userDetailsP{
    font-size:0.8em;
}
#resultsUserDetails{
margin: 0 5% 3% 5%;
}

@import "map.scss"
