.ibUser{margin-left:15px;margin-top:60px;postion:relative;display:box;float:left;margin-bottom:6px}.ibPhoto{width:116px;height:116px;float:left;margin-left:20px;margin-top:8px}.ibUserName{font-size:1.2em;color:white}.ibSmallText{font-size:0.8em;color:white;margin-left:17px;margin-top:4px}.ibAddress{clear:both;margin-left:41px;color:white;font-size:0.8em}
