
$base_color: #1E1E1E;
$page-bg-color :#bfbfbf;
$form-bg-color: rgba(0,0,0,0);

@import 'sencha-touch/default/all';


@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-list-paging;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;
@include sencha-draw;
@include sencha-charts;

body{
   background:  url("../images/bg.jpg") no-repeat scroll center top #bfbfbf;
   background-size: 100% 100%;
}

 .x-panel, .x-form{
     background: none ;
 }
 
 